/* body{
    background-color: #1c1c1c;
} */

.rmyCart{
    font-size:30px;
    margin-right: 66%;
    margin-bottom:-2%;
}
#rcart{
    width: 74%;
    margin: auto;
    margin-top:5%;
    display: flex;
    color: white;
    /* background-color: #1c1c1c; */
    /* border: 1px solid red; */
    height: 300px;
}

#rgamesList{
    /* border: 1px solid #1c1c1c; */
    /* border: 1px solid blue; */
    width: 70%;
    margin-right: 4%;
}

.rtobuygames{
    width: 100%;
    background-color: #202020;
    margin: auto;
    height:75%;
    display: flex;
    border-radius: 5px;
    /* border: 1px solid aqua; */
}
.rbuygameimage{
    margin:3% 2% 3% 5%;
    width: 21%;
    height: 84%;
    border-radius: 5px;
}
.rbuygameimage:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .8s;
}

.rdetaildiv{
    /* border: 1px solid green; */
    width: 100%;
    margin-top: 3%;
}

.rdetailflex{
    display:flex;
    /* justify-content: space-between; */
}
.rbasegame{
    font-size:12px;
    border: none;
    padding: 10px;
    background-color:#373737;
    border-radius:5px;
}
.rblueDiscount{
    font-size:11px;
    font-weight: bold;
    border: none;
    padding: 10px 12px 0px 12px;
    background-color:#0074e4;
    border-radius:5px;
}
.rlineprice{
    font-size:15px;
    font-weight: bold;
    padding-top: 4px;
    text-decoration: line-through;
    color: #838282;
}
.ractualporice{
    font-size:15px;
    font-weight: bold;
    padding-top: 4px;
}

.rdetail2flex{
    display:flex;
    justify-content: space-between;
    margin-top:-2%;
}
.rtitle{
    margin-top: 0%;
    font-weight: bold;
}
.rtitle:hover{
    cursor: pointer;
    transition: .5s;
    text-decoration: underline;
}
.rsale{
    margin-top: .5%;
    font-size:12px;
    margin-right: 5%;
}

.rdetail3flex{
    margin-top:12%;
    display:flex;
    justify-content: space-between;
}
.rdetail3flex img{
    width: 20px;
    height: 20px;
    margin-top: 7%;
}
.rpricedetail2{
    /* border:1px solid red; */
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 5%;
}
.rgraddcircle{
    font-size:40px;
    color:  #838282;
    margin-top:-7%;
    /* margin-left: 5%; */
    /* color: red; */
}
.rwindowLogo{
    font-size:22px;
    color:  #838282;
}
.rspanwish{
    display: flex;
    padding-right: 25px;
}
.rgap2{
    margin-right: 10%;
}
.rgap23{
    margin-right:3%;
}

.rwishlist, .rremove{
    color:  #838282;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.rwishlist:hover, .rremove:hover{
    cursor: pointer;
    color:white;
    transition: .5s;
}
.rpricedetail{
    display:flex;
    margin-left: 40%;
}
.rgap{
    margin-left: 6%;
}

#rgamesPrice{
    width: 35%;
    /* border: 1px solid orange; */
}
.rGamesandSummary{
    font-size: 25px;
}
.rline{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-top: .5px solid rgba(128, 128, 128, 0.432);
}
.rshowPrice{
    display: flex;
    justify-content: space-between;
    margin: 0% 3%;
}

.rcheckoutButton{
    width: 98%;
    margin: auto;
    margin-top: 5%;
    height: 16%;
    border-radius: 5px;
    border: none;
    color:white;
    background-color:#0074e4;
}