/* body{
    background-color: #1c1c1c;
} */
/* *{
    background-color: #1c1c1c;
} */
.rmaincontainer{
    width:100%;
    /* background-color: #1c1c1c; */
    background-color: #121212;
    /* margin-top: 0%; */
}
.rcontainer{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    /* background-color: #1c1c1c; */
    background-color: #121212;
    /* margin-top:10%; */
}
.rLine{
    /* margin-top:5%; */
    width:100%;
    border-top: 1px solid rgba(128, 128, 128, 0.432);
}
.rline>hr{
    color:white;
    background-color:white;
}
.rmaintitle{
    margin-top: 3%;
    font-size: 27px;
    color:white;
    text-align: left;
}

.roverviewDiv{
    font-size:18px;
    margin-top:3%;
    display: flex;
    color: grey;
}
.roverview{
    color: white;
    text-align: left;
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
}
.roverview:hover{
    cursor: pointer;
}

.rrgap{
    margin-left:4%;
}
.rrgap:hover{
    cursor: pointer;
    border-bottom: 2px solid;
    transition: 1s ;
    
}

.rmainDiv{
    border:1px solid red;
    display:flex;
}

.rleftmainDiv{
    flex:4;
    border:1px solid pink;
}
.rgamevideo{
    /* border: 1px solid orange; */
    width: 90%;
    height: 350px;
}
/* Description */
.rdescriptionDiv{
    width: 90%;
    text-align: left;
    margin-top:3%;
}
.rdescriptionDiv>p{
    margin-left: 3%;
    color: white;
    font-size: 14px;
}


.rgenrefeature{
    /* border: 1px solid red; */
    width: 90%;
    height: 100px;
    display: flex;
}
.rgfleftgap{
    margin-left:5%;
}
.rrgf{
    font-size:14px;
    font-weight:bold;
    color: #616161;
}
.rgenre, .rfeature{
    flex: 1;
    border-left: 1px solid rgba(128, 128, 128, 0.432);
    height: 80%;
    margin-left:2%;
    text-align: left;
}
.rgfdetails{
    display: flex;
    margin-top:-5%;
    font-size:13.5px;
    color: white;
}
.rgfdetails>p{
    margin-right:2%;
    text-decoration: underline;
}






/* RIGHT MAIN DIV */
.rrightmainDiv{
    flex:2;
    border:1px solid blue;
}
.rlogoImage{
    margin: auto;
    /* margin-top:5%; */
    width: 90%;
    height: 280px;
    /* border: 1px solid aqua; */
}
.rlogoImage>img{
    width: 100%;
    height: 100%;
}

.ralldetailprice{
    text-align: left;
    /* border: 1px solid red; */
    margin-top:4%;
}
.rrbasegame{
    font-size:10px;
    border: none;
    padding: 10px;
    background-color:#373737;
    border-radius:5px;
    max-width:fit-content;
    color: white;
    font-weight: bold;
}
.rdpap{
    display: flex;
    margin-top:-2%;
}
.rdpap>p{
    margin-right:3%;
}
.rrdiscount{
    font-size:11px;
    font-weight: bold;
    border: none;
    padding: 5px 9px 0px 9px;
    background-color:#0074e4;
    border-radius:5px;
}
.rractual{
    font-size:15px;
    font-weight: bold;
    padding-top: 4px;
    text-decoration: line-through;
    color: #838282;
}
.rbuyprice{
    font-size:15px;
    font-weight: bold;
    padding-top: 4px;
    color: white;
}

.rsaledate{
    font-size:12px;
    margin-top:-3%;
    color: white;
}
#raddcart,#raddwishlist{
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight:bold;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color:none;
    margin-bottom:4%;
}
#raddcart:hover,#raddwishlist:hover{
    background-color:lightgrey;
    transition:.8s;
    cursor:pointer;
}
#raddwishlist{
    font-size: 12px;
}
.rrwishcircle{
    font-size: 25px;
    margin-top:-1%;
    margin-right: 1.5%;
}

.rcompanypublisher{
    display: flex;
    justify-content:space-between;
    margin-top:2%;
}
.rrLine{
    width:100%;
    border-top: 1px solid rgba(128, 128, 128, 0.432);
    margin-top: -2%;
}
.rleftlight{
    font-size:14px;
    color: #616161;
}
.rrightlight{
    font-size:14px;
    font-weight:bold;
    color: white;
}
.rwindowlight{
    font-size:25px;
    color: white;
}