*{
    margin: 0;
    padding: 0;
    font-family: "brutal",sans-serif;
    text-decoration: none;
  }
  .loginOptionsContainer{
    background: #121212;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .optionContainerLogin {
      display: flex;
      background-color: #2a2a2a;
      flex-direction: column;
      padding: 50px 15px;
      align-items: center;
      gap: 30px;
      height: 100%;
    }
    
    .icon > img {
      height: 50px;
    }
    
    .logHeading {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: #fff;
    }
    
    .allowedOptionLogin{
      max-width: 370px;
      height: 56px;
      display: flex;
      align-items: center;
      background-color: #484848;
      border-radius: 4px;
    }
    .logOption {
      max-width: 370px;
      height: 56px;
      display: flex;
      align-items: center;
      background-color: #484848;
      border-radius: 4px;
      cursor: not-allowed;
    }
    
    .logOption > img {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    
    .logOption > p {
      margin: 10px;
    }
    
    .abled {
      cursor: pointer;
    }
    
    .text {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.01em;
    }
    
    .loginOptionsName {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    
    .option:hover {
      background-color: rgb(54, 54, 54);
    }
    
    .logFooter {
      color: #f4f4f480;
      font-size: 14px;
      line-height: 1.25rem;
      letter-spacing: 0.1px;
      text-align: center;
      margin: 0 14px;
    }
    
    .underline {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }
    
    @media (min-width: 768px) {
      .optionContainerLogin {
        max-width: 470px;
        margin: 50px auto;
        padding: 45px 60px 45px;
        border-radius: 4px;
      }
    }
    